<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PeacockRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <PeacockRecorder.Properties.Settings>
            <setting name="InputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OutputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RecordingFormat" serializeAs="String">
                <value>mp3</value>
            </setting>
            <setting name="StartHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Savepath" serializeAs="String">
                <value />
            </setting>
        </PeacockRecorder.Properties.Settings>
    </userSettings>
</configuration>
